html {
    font-size: 100%;
    font-family: 'Overpass', sans-serif;
    background-color: $very_dark_blue;
}

#rating_component{
    background-color: $dark_blue;
}

#thank_you{
    background-color: $dark_blue;
}

p{
    font-size: 15px;
    color: $medium_grey;
}

h1{
    color: $white;
}