html {
    font-size: 100%;
    font-family: 'Overpass', sans-serif;
    background-color: $very_dark_blue;
}

body{
    position:relative;
}

#rating_component{
    background-color: mix($dark_blue, $very_dark_blue);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:350px;
    height:350px;
    border-radius: 30px;
    padding:30px 30px 30px 30px;
}

#icon_star{
    background-color: $dark_blue;
    border-radius: 50px;
    padding:15px;
}

#buttons_group{
    padding-top:10px;
    padding-bottom: 10px;
}

#buttons_group button{
    border-radius: 50%;
    background-color: $dark_blue;
    display: inline-block;
    width:45px;
    height:45px;
    border:None;
    color: $medium_grey;
    text-align: center;
    margin-right:27px;
    text-decoration: none;
    cursor:pointer;
}

#buttons_group button:last-child{
    margin-right:0px;
}

#buttons_group button:hover{
    background-color:$orange;
    color:$white;
    transition: 0.7s;
}

#buttons_group button:active{
    background-color:$medium_grey;
    color:$white;
}

#buttons_group button:focus{
    background-color:$medium_grey;
    color:$white;
}

#submit_button button{
    border-radius: 20px;
    background-color: $orange;
    width:100%;
    height:46px;
    border:None;
    color: $white;
    font-size: 18px;
    font-family: 'Overpass', sans-serif;
    margin-top:30px;
    margin-left: auto;
    margin-right: auto;
    font-weight:500;
}

#submit_button button:hover{
    background-color:$white;
    color:$orange;
    transition: 0.7s;
}

#thank_you{
    background-color: $dark_blue;
}

p{
    font-size: 15px;
    color: $medium_grey;
    justify-content: center;
}
h1{
    color: $white;
    justify-content: center;
}